body {
  background-color: black;
  text-align: center;
}
h1, h2 {
  color: white;
  font-family: verdana;
}
h1 {
  font-size: 50px;
  font-weight: normal;
  text-align: center;
}
a {
  color: aquamarine;
  font-size: 16px;
  text-align: center;
}
.video, .camp, .phone_icon {
  text-align: center;
}
h2 {
  font-size: 42px;
  font-weight: 300;
  text-align: center;
}
p {
  color: gray;
  font-size: 21px;
  text-align: center;
}

footer {
  text-align: right;
  color: gray;
}
